department         , target_hours, max_hours
career_education   ,           25,        38
marketing          ,           25,        38
employer_engagement,           19,        25
events             ,           19,        38
data_systems       ,           15,        19
